*{
    text-decoration: none;
    margin: 0;
}
h1 {
    color: brown;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 20px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: paleturquoise;
    text-align: center;
}
nav{
    width: 100%;
    background-color: cornflowerblue;

}
ul{
    display: block;
    list-style: none;
    padding: 5px;
}
a{
    display: block;
}
a:hover{
    color: brown;
}

