{% extends 'base.html.twig' %}
{% block title %}Bienvenues{% endblock %}

{% block body %}
    <h1>Bienvenue aux personnes ci-dessous:</h1>
    <ul>
        {% for personne in personnes%}
        <li>{{ personne}}</li>
        {% endfor %}
    </ul>
{% endblock %}